[submodule "hub_auth_ms"]
	path = hub_auth_ms
	url = https://github.com/seraleman/hub_auth_ms
[submodule "hub_api_gateway"]
	path = hub_api_gateway
	url = https://github.com/seraleman/hub_api_gateway
[submodule "hub_logger_ms"]
	path = hub_logger_ms
	url = https://github.com/seraleman/hub_logger_ms
[submodule "hub_user_registration_form"]
	path = hub_user_registration_form
	url = https://github.com/seraleman/hub_user_registration_form
